<!--Здесь сначала проверяется условие- есть ли заказы у данного пользователя,-->
<!--т. е. не пустой ли список заказов { % if bookinstance _ list % ) • Если список заказов-->
<!--пуст, то выводится сообщение «Нет книг со статусом В ЗАКАЗЕ». Если у пользователя-->
<!--есть заказы, то организуется цикл for, в котором выдается информация о заказанных-->
<!--книгах - {% for bookinst in bookinstance_list %). Обратите внимание, что в теле цикла-->
<!--есть инструкция if для проверки условия, не просрочен ли заказ- {% if bookinst.-->
<!--is overdue %) . Если заказ окажется просроченным, то информация о нем (дата возврата-->
<!--книги) будет показана красным цветом (text-danger). А название книги, которая находится-->
<!--в заказе, представляет собой ссылку на страницу с информацией об этой книге:-->
<!--href="{% url 'book-detail' bookinst.book.pk %)"-->
<!--Для установления факта, что заказ просрочен, здесь предусмотрен метод is overdue,-->
<!--который создан в модели экземпляров книг:-->
<!--{% if bookinst.is_overdue %)-->

{% extends "catalog/base.html" %}
{% block content %}
<h1>Взятые книги</h1>
{% if bookinstance_list %}
<ul>
    {% for bookinst in bookinstance_list %}
    <li
    {% if bookinst.is_overdue %} class="text-danger"{% endif %}>
    <a href="{% url 'book-detail' bookinst.book.pk %}">
        {{ bookinst.book.title }}
    </a>
    {{ bookinst.due_back }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Нет книг со статусом "В ЗАКАЗЕ".</p>
{% endif %}
{% endblock %}
