<!--В первой строке выводится заголовок страницы, а во второй строке находится ссылка-->
<!--на страницу с добавлением новой книги:-->
<!--<а href="{% url 'book_create' %)">Добавить книгу</а>-->
<!--Затем с помощью инструкции if проверяется условие, есть ли в БД записи с информацией-->
<!--о книгах - { % i f ьооk % ) • Если информация об авторах отсутствует, то в форме-->
<!--будет выдано сообщение «В базе данных нет книг».-->
<!--Если в БД есть записи о книгах, то далее создается таблица с тремя столбцами:-->
<!--□ идентификатор записи в БД;-->
<!--□ название книги;-->
<!--□ столбец со ссылками на опции редактирования (Изменить, Удалить).-->
<!--Строки таблицы формируются в цикле на основе инструкции for - { % for book in-->
<!--book. all % ) .-->

{% extends "catalog/base.html" %}
{% block content %}
<div class="row text-start lh-2">
    <h5>Список книг для редактирования</h5>
</div>
<div class="row">
    <div class="col-2"></div>
    <a href="{% url 'book_create' %}">Добавить книгу</a>
    <div class="col-8">
        <table class="table table-striped table-bordered text-start">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Название книги</th>
                    <th>Редактировать</th>
                </tr>
            </thead>
            <tbody>
                {% if books %}
                    {% for book in books %}
                        <tr>
                            <td>{{ book.id }}</td>
                            <td>{{ book.title }}</td>
                            <td>
                                <a href="/book/update/{{ book.id }}">Изменить</a>,
                                <a href="/book/delete/{{ book.id }}">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">В базе данных нет книг</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}
